# Файлы окружения с секретами
.env

# Папка с установленными библиотеками, не заливаем в репозиторий
node_modules/

# Логи, если они создаются
*.log

# Файлы кэша npm и yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Прочие системные файлы, которые часто не нужны
.DS_Store
Thumbs.db